@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
    background: grey;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    background: linear-gradient(180deg, #0C0505 0%, #3A3535 47.92%, #5E5858 100%);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header {
    display: flex;
    justify-content: space-between;
    padding: 18px;
}
#header .foto-perfil {
    border-radius: 70%;
    width: 4rem;
    border: 3px solid grey;
    margin-left: 980px;
}
#header .bem-vindo {
    color: white;
    margin-top: 20px;
}
.footer_principal {
    display: flex;
    margin-top: 75px;
    justify-content: center;
}

.imagens_footer {
    width: 8vh;
    margin-left: 20px;
}

hr {
    margin-top: 25px;
}
p{
    color: white;
}

